<div class="contact-section">
 <section class="contact-page">          
    <!-- Three links -->
    
    <div class="contact-choices">
        <a href="https://www.linkedin.com/in/ariunzul-ganbold" target="_black" class="thumbs">
            <ul class="thumbs-ul">
                <li class="icon"><span class="ion-social-linkedin"></span></li>
                <li class="button">LinkedIn</li>
            </ul>
        </a>
        
        <a href="https://github.com/jagawebdev" target="_black" class="thumbs">
            <ul class="thumbs-ul">
                <li class="icon"><span class="ion-social-github"></span></li>
                 <li class="button">Github</li>
            </ul>
        </a>
        
        <a href="mailto:jagawebdev@gmail.com" class="thumbs">
            <ul class="thumbs-ul">
                <li class="icon"><span class="ion-android-mail"></span></li>
                <li class="button">Email</li>
            </ul>
        </a>
    </div>  
    <div class="clearfix"></div>
    
</section>
</div>
<div class="clearfix"></div>
<script src="js/contact.js" type="text/javascript"></script>
