<div class="work-section">
    <section class="work-page">
        <p class="work-title">Hand-coded websites</p>
        <p><strong>Armitage Street LLC</strong><br/>Visit the live website <a href="http://www.armitagest.com" target="_blank">here</a>.<br/><br/></p>
       
       
        
        <p><strong>A+ Nail School</strong><br/>
        Visit the live website <a href="http://www.aplusnailschool.com" target="_blank">here</a><br/><br/>
        A+ Nail School is one of Chicago's best nail school that provides 
        high education for students who wants to improve their life and change 
        their future for better. <br/><br/>
        Collaborating with the client I was able to recreate their exciting 
        website and deliver user-friendly, colorful website for their users. 
        In order to provide information also to promote the school, I rearranged 
        and added contents to give more details about the school's goals and mission. 
        <br/><br/>
    
        I looked at the issues that my client and their users were facing and identified the issues as:</p>
        <ol>
            <li>Misplaced  and unnecessary contents</li>
            <li>The navigations are confusing</li>
            <li>Email form doesn’t work properly</li>
        </ol>
        <p>While the whole website got a refresh, the changes are most clear in the navigation bar and the 
        contents of every page. After lots of reading and research I puzzled together all the 
        related information and group them  so users can easily find all the information 
        they need in one place.<br/><br/>
        </p>
    </section>
    
    
</div>
